<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load school_tags %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
	<meta charset="UTF-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>OSI</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'school/images/icon.png' %}">
    <link rel="stylesheet" href="{% static 'school/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/animate.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'school/css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-area ">
            <div class="header-top_area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_top_wrap d-flex justify-content-between align-items-center">
                                <div class="text_wrap">
                                    <p><a href="{% url 'singIn' %}">  Login</a> <a href="{% url 'singUp' %}">Register</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="header_wrap d-flex justify-content-between align-items-center">
                                <div class="header_left">
                                    <div class="logo">
                                        <a href="{% url 'home' %}">
                                            <img src="{% static 'school/images/logos.png' %}" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="header_right d-flex align-items-center">
                                    <div class="main-menu  d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">
                                                <li><a href="{% url 'home' %}">home</a></li>
                                                <li><a href="{% url 'courses' %}">Courses</a></li>
												<li><a href="{% url 'contact' %}">Contact</a></li>
											</ul>
										</nav>
									</div>
									<div class="Appointment">
										<div class="book_btn d-none d-lg-block">
											<a data-scroll-nav='1' href="#">Apply Now</a>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="mobile_menu d_block d-lg-none"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>
    <div class="popular_program_area section__padding program__page">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center">
                        <h3>Popular Program</h3>
                    </div>
                </div>
            </div>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/1.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 12 weeks</span>
                                    <h4>Python programming course</h4>

                                    <p>Описание: Изучите язык Python с нуля и получите навыки для создания веб-приложений, машинного обучения и анализа данных.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/2.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 8 weeks</span>
                                    <h4>Web Design Course</h4>
                                    <p>Описание: Изучите основы дизайна веб-сайтов, включая HTML, CSS, и JavaScript. Научитесь создавать привлекательные и функциональные сайты.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/3.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 10 weeks</span>
                                    <h4>Cyber Security Course</h4>
                                    <p>Описание: Научитесь обнаруживать и предотвращать кибератаки, методы для взлома систем а также защищать компьютерные системы и данные.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/4.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 20-24 weeks</span>
                                    <h4> Full Stack course</h4>

                                    <p>Описание: Курс включает в себя обучение созданию полноценных веб-приложений от идеи до реализации.         ывфвфыывфвыфвфывфы</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/5.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 16-20 weeks</span>
                                    <h4>Mobile Application course</h4>

                                    <p>Описание: Курс обучает созданию мобильных приложений на платформах iOS и Android. Обучение языкам программирования Swift и Kotlin</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/6.png' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 22 weeks</span>
                                    <h4>Java Programming course</h4>

                                    <p>Описание: Этот курс на платформе Coursera научит вас основам программирования на Java и разработке программного обеспечения.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/7.png' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 12 weeks</span>
                                    <h4>UX/UI Design course</h4>

                                    <p>Описание:  Этот курс предлагает основы проектирования интерфейсов, включая исследование пользователей, создание прототипов и визуальный дизайн.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/8.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 8 weeks</span>
                                    <h4>Data Science course</h4>

                                    <p>Описание:  Этот курс поможет вам освоить основы анализа данных на языке Python и работы с библиотеками такими как NumPy, Pandas.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="single__program">
                                <div class="program_thumb">
                                    <img src="{% static 'school/images/program/9.jpg' %}" alt="">
                                </div>
                                <div class="program__content">
                                    <span>Duration: 12 weeks</span>
                                    <h4>PHP course</h4>

                                    <p>Описание: Этот курс предназначен для тех, кто хочет научиться создавать серверные приложения на PHP, создание и настройку баз данных и д.р.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="school/images/program/1.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Duration: 12 weeks</span>
                                        <h4>Python programming course</h4>

                                        <p>Описание: Изучите язык Python с нуля и получите навыки для создания веб-приложений, машинного обучения и анализа данных.</p>
                                        <a href="#" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="school/images/program/3.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Duration: 8 weeks</span>
                                        <h4>Web Design Course</h4>
                                        <p>Описание: Изучите основы дизайна веб-сайтов, включая HTML, CSS, и JavaScript. Научитесь создавать привлекательные и функциональные сайты.</p>
                                        <a href="#" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="single__program">
                                    <div class="program_thumb">
                                        <img src="school/images/program/2.png" alt="">
                                    </div>
                                    <div class="program__content">
                                        <span>Duration: 10 weeks</span>
                                        <h4>Cyber Security Course</h4>
                                        <p>Описание: Научитесь обнаруживать и предотвращать кибератаки, методы для взлома систем а также защищать компьютерные системы и данные.</p>
                                        <a href="#" class="boxed-btn5">Apply NOw</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="newsLetter_wrap">
                    <div class="row justify-content-between">
                        <div class="col-md-7">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Stay Updated
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Email Address">
                                    <button type="submit">Subscribe Now</button>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-5">
                            <div class="footer_widget">
                                <h3 class="footer_title">
                                    Stay Updated
                                </h3>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="ti-facebook"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-google-plus"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-linkedin"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                About Us
                            </h3>
                            <ul>
                                <li><a href="#">Online Learning</a></li>
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Careers</a></li>
                                <li><a href="#">Press Center</a></li>
                                <li><a href="#">Become an Instructor</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Campus
                            </h3>
                            <ul>
                                <li><a href="#">Our Plans</a></li>
                                <li><a href="#">Free Trial</a></li>
                                <li><a href="#">Academic Solutions</a></li>
                                <li><a href="#">Business Solutions</a></li>
                                <li><a href="#">Government Solutions</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Study
                            </h3>
                            <ul>
                                <li><a href="#">Admissions Policy</a></li>
                                <li><a href="#">Getting Started</a></li>
                                <li><a href="#">Visa Information</a></li>
                                <li><a href="#">Tuition Calculator</a></li>
                                <li><a href="#">Request Information</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Support
                            </h3>
                            <ul>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">System Requirements</a></li>
                                <li><a href="#">Register Activation Key</a></li>
                                <li><a href="#">Site feedback</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            <p>
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved |  <i class="ti-heart" aria-hidden="true"></i> by Daniyal and Muhammed</p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>