{% extends 'school/base.html' %}

{% block content %}
<div class="container-course">
    <h1 class="course-title">{{course.SubjectName}}</h1>
    <p class="course-description">{{course.Text}}</p>

    <div class="course-info">
      <div class="course-program">
        <div class="course-fees">
          <h2>Course Fees</h2>
          <p>${{course.Price}}</p>
        </div>

        <div class="course-certification">
          <h2>Certification</h2>
          <p style="font-size: 15pt">По окончании курса вы получите сертификат.</p>
        </div>
      </div>

      <div class="course-details">
        <div class="course-duration">
          <h2>Course Duration</h2>
          <p>{{course.Duration}} weeks</p>
        </div>

        <div class="course-format">
          <h2>Course Format</h2>
          <p>Online</p>
        </div>

        <a href="#" class="apply-now-button">Apply Now</a>
      </div>
    </div>
  </div>
{% endblock %}