{% extends 'school/base.html' %}

{% block content %}
<div class="container-course">
    <h1 class="course-title">Course Title</h1>
    <p class="course-description">Description of the course goes here...</p>

    <div class="course-info">
      <div class="course-program">
        <h2>Course Program</h2>
        <ul>
          <li>Module 1</li>
          <li>Module 2</li>
          <li>Module 3</li>
        </ul>
      </div>

      <div class="course-details">
        <div class="course-duration">
          <h2>Course Duration</h2>
          <p>6 weeks</p>
        </div>

        <div class="course-instructors">
          <h2>Course Instructors</h2>
          <ul>
            <li>Instructor 1</li>
            <li>Instructor 2</li>
            <li>Instructor 3</li>
          </ul>
        </div>

        <div class="course-format">
          <h2>Course Format</h2>
          <p>Online</p>
        </div>

        <div class="course-fees">
          <h2>Course Fees</h2>
          <p>$1000</p>
        </div>

        <div class="course-certification">
          <h2>Certification</h2>
          <p>Upon completion of the course, you will receive a certificate.</p>
        </div>

        <a href="#" class="apply-now-button">Apply Now</a>
      </div>
    </div>
  </div>
{% endblock %}