{% extends 'school/base.html' %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">Занятия</h3>
          <ul class="list-group list-group-flush">

            <!-- Список занятий -->

          </ul>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">Оценки</h3>
            <ul class="list-group list-group-flush">



            </ul>
          <!-- Таблица с оценками -->
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">Программа курса</h3>
          <ul class="list-group list-group-flush">

            <!-- Список тем курса -->
          </ul>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h3 class="card-title">Задания</h3>
          <ul class="list-group list-group-flush">


            <!-- Список заданий -->
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}