body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
}
header {
    background-color: #F9A825;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
}

nav {
    background-color: #BDBDBD;
    padding: 10px;
    text-align: center;
    color: white;
    font-size: 18px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    color: #F9A825;
}

section {
    padding: 20px;
    margin: 20px;
}

.course {
    border: 1px solid #BDBDBD;
    padding: 10px;
    margin-bottom: 20px;
}

.course h2 {
    margin-top: 0;
    font-size: 18px;
}

.course p {
    margin: 5px 0;
    font-size: 14px;
}

footer {
    background-color: #424242;
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 14px;
}